.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.country {
  text-align: center;
  border: 3px solid crimson;
  background-color: rgb(251, 232, 232);
  border-radius: 20px;
  padding: 20px;
}
.country img {
  width: 200px;
}
h1 {
  text-align: center;
  color: blueviolet;
}
